label{
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    width: 90px;
}

.inputTextArea{
    padding-bottom: 75px;
}

.labelMensagem{
    float: left;
}


input, textarea {
    border: 1px solid #CCC;
    box-shadow: inset 2px 2px 2px #EEE;
    font-size: 0.9em;
    padding: 2px 5px;
    display: inline-block;
    width: 200px;
}

.hint{
    background-color: #FFFBE4;
    border-radius: 3px;
    border: 1px solid#CCC;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 0.8em;
    margin-left: 20px;
    padding: 3px;
}

.hint{
    display: none;
}

input:focus + .hint, textarea:focus + .hint {
    display: inline-block;
}

.error{
    color: red;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin: 5px 0 0 90px;
}


